*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ingore
target/

#eclipse ingore
.settings/
.project
.classpatch

#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws

#tmp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db

